/* * {
  border: 1px solid red;
} */

:root {
  --first-color: #6c63ff;
  --second-color: #f5f2fe;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  padding-bottom: 100px;
}

.greeting,
h2 {
  font-size: 50px;
}

.name {
  font-size: 95px;
}
.speciality {
  font-size: 22px;
}

.project {
  display: flex;
}
.nav-links {
  margin: 70px;
}
.nav-links a {
  margin: 0 15px;
}

.button {
  border: 1px solid var(--first-color);
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link,
.projects a {
  background-color: var(--first-color);
  color: var(--second-color);
  box-shadow: var(--shadow);
}

.about-link {
  color: var(--first-color);
}

.project {
  margin-top: 50px;
}

.project-overview p,
.description {
  padding: 10px 0 35px;
  font-size: 18px;
}
.contact a {
  font-size: 30px;
  color: var(--first-color);
}

@media (max-width: 1199px) {
  .name {
    font-size: 70px;
  }
  .greeting,
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .name {
    font-size: 60px;
  }
  .greeting,
  h2 {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .name {
    font-size: 45px;
  }
  .greeting {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .project {
    text-align: center;
  }
  .project img {
    display: none;
  }

  .project .button {
    display: block;
    margin: 0 20px;
  }

  .examples img {
    margin-bottom: 20px;
  }
}
